footer{
    width: 100%;
    height: 200px;
    background-color: #4B4746;
    color:white;

    p{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 0.9em;
        padding-top:20px;
        text-align: center;
    }
}